{
    "config":{
        "rpe": "none",
        "acqd": "AP",
        "denoise": false,
        "degibbs": false,
        "eddy": false,
        "bias": false,
        "ricn": false,
        "norm": false,
        "nval": 1000,
        "anatalign": false,
        "reslice":1,
        "doreslice": false,
        "saveoutput":false
    }
}

